/* The css styles are supposed to represent how the modules look 
* starting from left to right as closely as possible*/

@import url("../../.cache/wal/colors-waybar.css");

* {
  border: none;
  font-family: "JetBrainsMono Nerd Font";
}

window#waybar {
  background: rgba(0,0,0,0.7);
  color: #fff; 
  border-radius: 5px;
}

tooltip {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0);
  border-radius: 5px;
}

/* Left modules */

#custom-logo,
#custom-weather,
#tray,
#window {
  background: transparent;
  border-radius: 8px;
  padding: 0px 10px;
  margin: 3px 0px;
}

/* Overwritting the previous padding style on 'custom-logo' 
* to give proper padding to nerd font icon */
#custom-logo {
  padding: 0px 15px 0px 10px;
}

/* If no windows are present on the screen,
* this module will be transparent */
window#waybar.empty #window {
  background-color: transparent;
}

/* Center modules */

#workspaces {
  border-radius: 5px;
  background: transparent;
}

#workspaces button {
  border-radius: 45px;
  color: transparent;
  transition: all 0.5s cubic-bezier(0.11, 1.09, 0.6, 0.96);
}

#workspaces button.active {
  /*background-color: @color11;*/
  color: rgba(255, 255, 255, 0.7);
}

#workspaces button:hover {
  color: rgba(255, 255, 255, 0.4);
  /*background-color: @color13;*/
}

/* Right modules */

/* These modules are children of group/system */
#battery,
#network,
#cpu,
#disk,
#memory,
#pulseaudio {
  margin: 0px 10px;
}

/* group/system */
#system {
  background: transparent;
  border-radius: 8px;
  margin: 3px 0px;
}

#clock {
  background: transparent;
  border-radius: 8px;
  padding: 0px 10px;
  margin: 3px 0px;
}

#mpris {
  background: transparent;
  border-radius: 8px;
  border-radius: 8px;
  padding: 0 10px;
  margin: 3px 0;
}
