@define-color bg #2b2a25;
@define-color txt #fff;
@define-color unactive #7c818c;

* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font;
    min-height: 5px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    margin-right: 8px;
    border-radius: 10px;
    transition: none;
    background: @bg;
    opacity: 0.9;
}

#workspaces button {
    transition: none;
    color: @unactive;
    background: transparent;
    padding: 5px;
    font-size: 18px;
}

#workspaces button.persistent {
    color: @unactive;
    font-size: 12px;
}

#workspaces button.active {
  color: @txt;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
    color: @bg;
    background: @unactive;
}

#workspaces button.focused {
    color: white;
}

#language {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: @txt;
    background: @bg; 
    opacity: 0.9;
}

#custom-pacman {
   margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: @txt;
    background: @bg; 
    opacity: 0.9;
}

#clock {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px 0px 0px 10px;
    transition: none;
    color: @txt;
    background: @bg;
    opacity: 0.9;
}

#custom-weather {
    padding-right: 16px;
    border-radius: 0px 10px 10px 0px;
    transition: none;
    color: @txt;
    background: @bg;
    opacity: 0.9;
}

#pulseaudio {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: @txt;
    background: @bg;
    opacity: 0.9;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#custom-mem {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: @txt;
    background: @bg;
    opacity: 0.9;
}

#network {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: @txt;
    background: @bg;
    opacity: 0.9;
}

#battery {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: @txt;
    background: @bg;
    opacity: 0.9;
}

#battery.charging {
    color: @txt;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: @txt;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @txt;
        color: #000000;
    }
}
