/*@define-color accent #EBBCBA;
@define-color txt    #fff;
@define-color bg     #2E3440;
@define-color bg2    #a4a19d; */

@define-color accent rgb(171, 184, 185); 
@define-color txt    #fff;
@define-color bg     #000;
@define-color bg2    transparent; 

* {
  font-family: "JetBrains Mono Nerd Font"; 
  font-size: 14.5px;
}

/* Window */
#window {
  background-color: @bg;
  opacity: 1;
  margin: 0;
  padding: 10px;
  border: none;
  /*border: 2px solid @accent;*/
  border-radius: 10px;
  animation: slideIn 0.5s ease-in-out both;
}

/* Inner Box */
#inner-box {
  background-color: @bg;
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  animation: fadeIn 0.5s ease-in-out both;
}

/* Outer Box */
#outer-boyx {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: @bg;
}

/* Scroll */
#scroll {
  margin: 3px;
  padding: 0px;
  border: none;
  border-radius: 10px;
}

/* Input */
#input {
  margin: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: @accent;
  background-color: @bg;
  animation: fadeIn 0.5s ease-in-out both;
}

/* Text */
#text {
  margin: 5px;
  padding: 10px;
  border: none;
  color: @txt;
  animation: fadeIn 0.5s ease-in-out both;
}

#entry {
  margin: 0 10px;
  padding: 3px 5px;
  border: none;
  border-radius: 10px;
}

/* Selected Entry */
#entry:selected {
  background-color: @accent;
  border: none;
  border-radius: 15px;
}

#entry:selected #text {
  color: #000;
}
